* {
    font-family: Rockwell, Arial, sans-serif;
    background-color: #FDF8ED;
    box-sizing: border-box;
}

#homepage-box {
    border: black, 2px, solid;
    border-radius: 25px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: center;
}

.recipe {
    border: black, 2px, solid;
    border-radius: 25px;
    width: 50%;
    margin: 5px auto;
    padding: 15px;
    /*text-align: center;*/
}

#mom-turkey{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

h1,
h2 {
    text-decoration: underline;
    color: #36454F;
}

.odd {
    font-weight: 900;
}

li {
    font-size: 18px;
    text-align: left;
}

.breadcrumb {
    font-size: 12px;
    text-align: left;
}

.recipe-title {
   
}

.recipe-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}