* {
    font-family: Rockwell, Arial, sans-serif;
    background-color: #FDF8ED;
    box-sizing: border-box;
    margin-left: 25px;
    margin-right: 25px;
}

#homepage-box {
    border: black, 2px, solid;
    border-radius: 25px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.recipe {
    border: black, 2px, solid;
    border-radius: 25px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#mom-turkey{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

h1,
h2 {
    text-decoration: underline;
    color: #36454F;
}

.odd {
    font-weight: 900;
}

li {
    font-size: 18px;
    text-align: left;
}

strong {
    color: #36454F;
}

.breadcrumb {
    font-size: 12px;
    text-align: left;
}

.recipe-title {
    text-align: left;
}